body{
    font-family: "Montserrat", sans-serif;
}
.footer-wrapper {
    background-color: #f0f0f0; 
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Для правильного позиціонування .prof-icon */
}
h1, h2, h3, h4, p, li, ul, ol, table, body{
    margin: 0;
    padding: 0;
    border: 0;
}
.text-container {
    text-align: center;
}

.report-title {
    margin-bottom: 20px;
    max-width: 800px;
}

.report-title h1 {
    font-size: 24px; 
    font-weight: bold; 
    margin: 0; 
}

.report-title h2 {
    font-size: 18px; 
    margin: 0;
}

.prof-icon {
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
}

.lab-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-wrapper{
    display: flex;
    margin: 12px;
    gap: 4px;
}
.lab-block {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    transition: all .15s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.lab-block:hover{
    background-color: rgb(194, 194, 194);
}
.step-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.step-block {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all .15s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.step-block:hover{
    background-color: rgb(194, 194, 194);
}
.step-block-smaller {
    padding: 8px;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
}
.step-block-smaller:hover{
    background-color: rgb(194, 194, 194);
}
.step-block-list{
    list-style: none;
}
.content-wrapper{
    flex: 5;
    border-radius: 25px;
    padding: 1em;
    border: 1px solid black;
    text-align: left;
    font-size: 18px;
    align-self: flex-start;
    min-height: 25em;
    list-style-position: inside;
    width: 100%;     
    max-height: 30em;   
    overflow-y: auto; 
}
.structure{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 80%;
    align-self: end;
}
.main-list-margin li{
    margin-bottom: 0.25em;
}
.conn-styles-types-block{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conn-styles-types-block-img{
    height: 200px;
    max-width: 100%;
}
.css-showcase-cont{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.img-medium-size{
    max-height: 360px;
    max-width: 360px;
}

.img-big-size{
    max-height: 600px;
    max-width: 600px;
}

.flexbox-with-header{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 8px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexbox-with-header div{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.flexbox-with-header img{
    display: block;
    /* margin-bottom: auto; */
}

.flex-column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}